html {
    font-family: "Lucida Sans", sans-serif;
    position: static;
}
* {
    box-sizing: border-box;
}
.row::after {
      content: "";
      clear: both;
      display: table;
}
[class*="col-"] {
    float: left;
    padding: 9px;
}
.blue{background-color: blue;}
.red{background-color: red;}
.green{background-color: green;}
#head{
  color: black;
  padding: 15px;
  margin-bottom: 10px;
  padding-left: 50px;
  border : 0.1px solid black;
}
/*Media Query */
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
/*Buttons */
input[type="date"]:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
  input[type="date"]{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
input[type="date"]{
    max-height: 65px;
    max-width: 155.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    }

input[type='date']{
  height: 38px;
  max-width: 155.5px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 15px; }
  th:last-child,
  td:last-child {
    padding-right: 15px; }
/* spacing */
table {
    margin-bottom: 2.5rem; }
